<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passwords</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- font-awesome-icons -->
    <script
      src="https://kit.fontawesome.com/be692c047d.js"
      crossorigin="anonymous"
    ></script>

    <script src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body class="register-login-body">
    <nav class="nav">
      <div class="nav__container container">
        <a href="/" class="nav__logo">
          Password<span class="nav__logo-light">KeepR</span>
        </a>
      </div>
    </nav>
    <main class="container">
      <h1>Your Passwords</h1>
      <section>
        <table>
          <thead>
            <tr>
              <th scope="col">Website</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach ((each) => { %>
              <tr>
                <td><%= each.website %></td>
                <td><%= each.username %></td>
                <td><%= each.password %></td>
                <td>
                  <a href="/passwords/<%= each.id %>">Edit</a>
                </td>
                <td>
                  <form method="POST" action="/passwords/<%= each.id %>?_method=DELETE">
                    <button type="submit">Delete</button>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
